body {
    margin: 0;
    font-family: Arial, sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.top-bar {
    background-color: #d9d9d9;
    padding: 2vh 4vw; /* Dostosowanie paddingu dla responsywności */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

button {
    padding: 8px 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #d9d9d9;
    color: black;
    font-size: 25px; /* Zmniejszenie rozmiaru czcionki dla telefonów */
    margin: 5px;
    font-weight: 700;
}

.flex-container {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    background-color: #c1bbbb;
    overflow: auto;
    position: relative;
}

.flex-container > div {
    position: relative;
    background-color: #c1bbbb;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    width: 45%;
    height: 42%;
}

.flex-container > div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.flex-container > div .caption {
    position: absolute;
    top: 30%;
    left: 15%;
    width: 60%;
    height: auto;
    padding: 10px;
    background-color: #c1bbbb;
    border-radius: 25px;
    text-align: center;
    color: white;
}

.cardio-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.machine {
    text-align: center;
    margin: 10px;
    width: 200px;
}

.machine img {
    max-width: 100%;
    height: auto;
}

/* Media Query dla urządzeń o szerokości mniejszej niż 768px (np. telefony) */
@media screen and (max-width: 768px){
    .top-bar {
        flex-direction: column;
        align-items: center; /* Centrowanie elementów w wąskich ekranach */
    }


    .flex-container > div {
        width: 100%; /* Zajmowanie pełnej szerokości ekranu dla telefonów */
        height: 200px; /* Stała wysokość dla lepszej responsywności */
    }

    .flex-container > div .caption {
        width: 70%; /* Zwiększenie szerokości podpisu dla telefonów */
        border-radius: 10px; /* Zmniejszenie zaokrąglenia narożników */
    }
}
@media screen and (max-width: 350px){
    .top-bar {
        flex-direction: column; /* Zamiana kierunku flex na kolumnowy dla paska nawigacyjnego */
    }

    /*button {*/
    /*    margin: 5px;*/
    /*}*/

    .flex-container > div {
        width: 330px; /* Zajmowanie pełnej szerokości ekranu dla telefonów */
        height: 200px; /* Stała wysokość dla lepszej responsywności */
        background-color: transparent;
    }

    .flex-container > div .caption {
        width: 200px; /* Zwiększenie szerokości podpisu dla telefonów */
        border-radius: 10px; /* Zmniejszenie zaokrąglenia narożników */
        font-size: 30px;

        position: absolute;
        top: 50px;
        left: 15px;
        height: auto;
        padding: 10px;
        line-height: 40px;
    }
    .flex-container > div img {
        width: 300px;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
    /*.top-bar {*/
    /*    padding: 10px;*/
    /*    display: flex;*/
    /*    justify-content: center;*/
    /*}*/
}