body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c1bbbb;
}

.top-bar {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

button {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.left-section {
    flex: 1;
    margin-right: 20px;
}

.right-section {
    flex: 1;
}

.training-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
}

textarea, input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.submit-button {
    background-color: #c1bbbb;
}
