body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c1bbbb;
}

.top-bar {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

button {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.left-section {
    flex: 1;
    margin-right: 20px;
}

.right-section {
    flex: 1;
}

.training-form {
    background-color: #fff;
    padding: 30px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
}

textarea, input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: solid 1px;

}
.resizeable-textarea {
    min-height: 100px;
    resize: vertical; /* Pozwala na zmianę rozmiaru tylko w pionie */
    overflow-y: auto; /* Dodaj pasek przewijania tylko w pionie, gdy tekst jest dłuższy niż obszar */
}
#date{
    width: 200px;
}
.submit-button {
    background-color: #c1bbbb;
}
@media screen and (max-width: 400px) {
    .description{
        width: 200px;
    }
}
