body {
  overflow: hidden;
  position: relative;
  background-image: url('../../src/images/imageLogin.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.right-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: 60px;
  color: white;
  margin-left: 50%;
}

.word {
  padding: 10px;
  margin-top: 50px;
  margin-bottom: 80px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.input-field::placeholder {
  color: white;
}

.input-field,
.login-button {
  width: 40%;
  padding: 10px;
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
  border: none;
  font-size: 30px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
}

.login-button {
  width: 65%;
}

.login-button {
  width: 45%;
}

.additional-links {
  display: flex;
  justify-content: space-between;
}

.icon-link {
  width: 46px;
  height: 46px;
  margin-right: 10px;
  background-size: cover;
}

.facebook,
.gmail-logo {
  width: 46px;
  height: 46px;
}

.registration {
  font-family: 'Nowa-Czcionka', sans-serif;
  font-size: small;
  margin-top: 10px;
}

.login-form {
  display: flex;
  font-size: 25px;
  flex-direction: column;
  align-items: center;
  width: 800px;
}

#fitCheck {
  font-size: 100px;
}
/* Media query for tablets */

/* Media query for phones */
/* Media query dla szerokości mniejszej niż 768px (telefony) */

@media screen and (max-width: 768px) {
  body {
    overflow: hidden;
    position: relative;
    background-image: none;
    background-color: burlywood; /* Twój wybrany kolor */
  }

  .right-side {
    margin-left: 0;
    padding: 10px; /* Dostosowanie odstępu wewnątrz right-side na mniejszych ekranach */
    font-size: 40px; /* Dostosowanie rozmiaru czcionki dla lepszej czytelności na telefonach */
  }

  .word {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .input-field::placeholder {
    color: white;
  }

  .input-field,
  .login-button {
    width: 90%;
    font-size: 20px; /* Dostosowanie rozmiaru czcionki dla inputów na telefonach */
    margin-bottom: 20px; /* Zmniejszenie marginesu na dole inputów */
  }

  .login-button {
    width: 95%;
  }

  .login-form {
    width: 90%;
  }

  .registration {
    margin-top: 5px; /* Dostosowanie marginesu na górze dla sign in na telefonach */
    font-size: small;
  }

  .login-button {
    width: 100%; /* Pełna szerokość dla lepszej responsywności przycisku logowania */
    margin-bottom: 20px;
  }

  /*.additional-links {*/
  /*  flex-direction: column; !* Zmiana kierunku flex na kolumnowy dla dodatkowych linków na mniejszych ekranach *!*/
  /*}*/

  .icon-link {
    margin-right: 0; /* Resetowanie marginesu dla ikon linków */
    margin-bottom: 10px; /* Dodanie marginesu między ikonami */
  }
}
@media screen and (max-width: 400px) {
  #fitCheck {
    font-size: 24vw; /* Zmniejszenie rozmiaru napisu FitCheck na mniejszych ekranach */
  }
}
