<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/cardio.css">
    <title>Strefa Cardio</title>
</head>
<body>
    <div class="top-bar">
        <button >Twój profil</button>
        <button onclick="location.href='main.html'">Strona główna</button>
        <button>Pomoc</button>
    </div>

    <section class="cardio-section">
        <div class="machine">   
            <img src="../images/bieznia.png" alt="Bieżnia">
            <p class="machine-name">Bieżnia</p>
            <p class="machine-quantity">Ilość: 5 sztuk</p>
        </div>

        <div class="machine">
            <img src="../images/rower.jpg" alt="Rower Stacjonarny">
            <p class="machine-name">Rower Stacjonarny</p>
            <p class="machine-quantity">Ilość: 3 sztuki</p>
        </div>

        <div class="machine">
            <img src="../images/orbitrek.jpg" alt="Orbitrek">
            <p class="machine-name">Orbitrek</p>
            <p class="machine-quantity">Ilość: 2 sztuki</p>
        </div>

        <div class="machine">
            <img src="../images/wioslowanie.jpg" alt="Maszyna do wioślarstwa">
            <p class="machine-name">Maszyna do wioślarstwa</p>
            <p class="machine-quantity">Ilość: 4 sztuki</p>
        </div>
    </section>

</body>
</html>
