<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/main.css">
    <title>Strona</title>
</head>
<body>

    <div class="top-bar">
        <button>Twój profil</button>
        <button>Strona główna</button>
        <button>Pomoc</button>
    </div>

    <div class="flex-container">
        <div>          
            <img src="../images/gym2.png" alt="Zdjęcie 2">
            <div class="caption">Tekst dla Zdjęcia 2</div>
        </div>
        <div>
            <img src="../images/gym3.png" alt="Zdjęcie 3">
            <div class="caption">Tekst dla Zdjęcia 3</div>
        </div>    
        <div>
            <img src="../images/gym1.png" alt="Zdjęcie 1">
            <div class="caption">Tekst dla Zdjęcia 1</div>
        </div>  
        <div class="info-container">
            <div>
                <img onclick="console.log('log1')" class="info" src="https://c.animaapp.com/ILU0P30e/img/speaker-notes-1@2x.png" />
            </div>
            <div>
                <img onclick="console.log('log2')" class="info" src="https://c.animaapp.com/ILU0P30e/img/vector-1.svg" />
            </div>
            <div>
                <img onclick="console.log('log3')" class="info" src="https://c.animaapp.com/ILU0P30e/img/information-1@2x.png" />
            </div>
            <div>
                <img onclick="console.log('log4')" class="info" src="https://c.animaapp.com/ILU0P30e/img/settings-1.svg" />
            </div>
        </div>  
    </div>
</body>
</html>
