<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/oblozenie.css">
    <title>Strona</title>
</head>
<body>

    <div class="top-bar">
        <button >Twój profil</button>
        <button onclick="location.href='main.html'">Strona główna</button>
        <button>Pomoc</button>
    </div>

    <div class="flex-container">
        <div><a>Aktualna liczba osób na siłowni </a></div>
        <div>Aktualna liczba osób w strefie maszyny</div>
        <div >Aktualna liczba osób w strefie cardio</div>
        <div >Aktualna liczba osób w strefie wolne ciężary</div>
    </div>
</body>
</html>
